
&spi2 {
    status = "okay";
    compatible = "st,stm32h7-spi", "st,stm32-spi-fifo", "st,stm32-spi";
    pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
    cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
    pinctrl-names = "default";
    spi_slave: spi-slave@0 {
        compatible = "zephyr,spi-device";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <20000000>;
        cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
    };
};