/*
 * Copyright (c) 2025 Qualcomm Technologies, Inc. and/or its subsidiaries
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		i2c-test = &i2c0;
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	lis2dw12@19 {
		compatible = "st,lis2dw12";
		reg = <0x19>;
		power-mode = <4>;      /* High Performance mode */
		odr = <1600>;          /* 1600 Hz output data rate */
		status = "okay";
	};
};