/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/ {
    aliases {
        counter0 = &frame0;
    };
};

&frame0 {
    status = "okay";
};
