/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 * SPDX-License-Identifier: BSD-3-Clause-Clear
 */

/ {
    aliases {
        led0 = &led0;
    };
    
    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
            label = "LED 0";
        };
    };
};

&gpioa {
    status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_option1>;
	pinctrl-1 = <&uart0_option1_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
	current-speed = <115200>;
    rx-buffer-size = <4096>;
	parity = "none"; /* NONE */
	stop-bits = "1"; /* 1 stop bit */
	data-bits = <8>; /* 8 data bits */
};
